<div class="chat-message <%= is_sender?(message) ? 'right' : '' %>">
  <div class="chat-message-content <%= is_sender?(message) ? 'reverse' : '' %>">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "chat-message-content-avatar" %>
    <p class="chat-message-content-text <%= is_sender?(message) ? 'bg-style' : '' %>">
      <%= message.content %>
    </p>
  </div>
  <div>
    <p class="chat-message-date <%= is_sender?(message) ? 'indent' : '' %>">
    <%= message.updated_at.in_time_zone("CET").strftime("%H:%M") %>
  </p>
  </div>
</div>
