<p><%= comment.content %></p>
<% if current_student %>
  <%= "Posted " + distance_of_time_in_words(Time.now, comment.created_at) + " ago by " %><a href="<%=tutor_path(comment.tutor_id)%>"><%= "#{Tutor.find(comment.tutor_id).first_name}" + " " +"#{Tutor.find(comment.tutor_id).last_name[0]}" + "."%></a>
  <br>
  <br>
  <%= link_to "Private Chat", job_posts_path, class: "btn btn-primary"%>
  <hr>
<% elsif current_tutor && current_tutor.id == comment.tutor_id %>
  <%= "Posted " + distance_of_time_in_words(Time.now, comment.created_at) + " ago by " + "#{Tutor.find(comment.tutor_id).first_name}" + " " +"#{Tutor.find(comment.tutor_id).last_name[0]}" + "."%>
  <br>
  <br>
  <%= link_to "Edit", edit_job_post_comment_path(@job_post, comment), class: "btn btn-primary"%>
  <%= link_to "Delete", job_post_comment_path(@job_post, comment), method: :delete, class: "btn btn-primary"%>
  <hr>
<% else %>
  <%= "Posted " + distance_of_time_in_words(Time.now, comment.created_at) + " ago by " + "#{Tutor.find(comment.tutor_id).first_name}" + " " +"#{Tutor.find(comment.tutor_id).last_name[0]}" + "."%>
  <hr>
<% end %>
