<h1><%= @tutor.first_name %> <%= @tutor.last_name %>'s dashboard</h1>

<h3>Languages</h3>

<% if @tutor.spoken_languages == [] %>
  <p>Please choose your language(s)</p>
<% else %>
  <% @tutor.spoken_languages.each do |spoken_language| %>
    <p><%= spoken_language.language.name %> | <%= link_to "Delete", spoken_language_path(spoken_language),
      method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% end %>
<% end %>

<%= link_to 'Add Languages', new_spoken_language_path, class: 'btn btn-primary' %>

<hr>

<h3>Subjects</h3>

<% if @tutor.taught_lessons == [] %>
  <p>Please choose your subject(s)</p>
<% else %>
  <% @tutor.taught_lessons.each do |taught_lesson| %>
    <p><%= taught_lesson.subject.name %> | <%= link_to "Delete", taught_lesson_path(taught_lesson),
      method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% end %>
<% end %>

<%= link_to 'Add Subjects', new_taught_lesson_path, class: 'btn btn-primary' %>

