<div id="tutor" class="container mt-5">
  <div class="tutor-section">
    <div id="tutor-header" class="row">
      <div class="col-sm-4">
        <img class="tutor-image" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2MTQ1N30" alt="tutor photo">
      </div>
      <div id="tutor-info" class="col-sm-6">
        <h1 class="tutor-info-name">
          <%= @tutor.first_name %> <%= @tutor.last_name %>
          <%= link_to chats_path(tutor_id: @tutor), method: :post do %>
            <i class="fas fa-comments"></i>
          <% end %>
        </h1>
        <div class="tutor-info-subjets">
          <% @tutor.subjects.each do |subject| %>
            <span class="tag <%= subject.name %>"><%= subject.name %></span>
          <% end %><%=  %>
        </div>
        <div class="tutor-info-details">
          <span class="tutor-info-detail">
            <i class="fas fa-star"></i>
            <%= @tutor.reviews.map{ |review| review.rating }.sum.fdiv(@tutor.reviews.length).round(1) %>
            (<%= @tutor.reviews.count %> reviews)
          </span>
          <span class="tutor-info-detail">
            <i class="fas fa-comment"></i>
            <% @tutor.spoken_languages.each do |spoken_language| %>
              <%= spoken_language.language.name %>
            <% end %>
          </span>
          <span class="tutor-info-detail">
            <i class="fas fa-map-marker-alt"></i>
            <%= ISO3166::Country.find_country_by_alpha2("#{@tutor.country}").unofficial_names.first %>
          </span>
        </div>
      </div>
      <div id="tutor-booking" class="col-sm-2">
        <div>
          <p class="tutor-price-text">Hourly price</p>
          <p class="tutor-price"><%= @tutor.price.to_i %> <%= Currency.find(@tutor.currency_id).name %></p>
          <%= link_to 'Book now', new_tutor_booking_path(@tutor), class: 'btn btn-dark-blue' %>
        </div>
      </div>
    </div>
    <div id="tutor-about">
      <h3 class="tutor-title">ABOUT ME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus pellentesque eu tincidunt tortor aliquam nulla. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Orci nulla pellentesque dignissim enim. Volutpat blandit aliquam etiam erat velit scelerisque in dictum non. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Eu scelerisque felis imperdiet proin fermentum leo vel orci porta. Ac ut consequat semper viverra nam libero. Eget nunc lobortis mattis aliquam faucibus purus in massa. Mauris a diam maecenas sed enim ut sem viverra. Eget nullam non nisi est sit amet facilisis magna etiam.</p>
    </div>
  </div>

  <div id="tutor-education-list" class="tutor-section">
    <h2 class="tutor-title">EDUCATION</h2>
    <div class="row">
      <div class="col-sm-6 tutor-education-work-item">
        <p class="tutor-education-work-item-dates">September 2018 - present</p>
        <h4 class="tutor-education-work-item-title">Master in Mathematics</h4>
        <p class="tutor-education-work-item-university">Université Paris Descartes</p>
        <p class="tutor-education-work-item-location">
          <i class="fas fa-map-marker-alt"></i>
          Paris, France
        </p>
      </div>
      <div class="col-sm-6 tutor-education-work-item">
        <p class="tutor-education-work-item-dates">September 2015 - June 2018</p>
        <h4 class="tutor-education-work-item-title">Bachelor in Mathematics</h4>
        <p class="tutor-education-work-item-company">Université Paris Descartes</p>
        <p class="tutor-education-work-item-location">
          <i class="fas fa-map-marker-alt"></i>
          Paris, France
        </p>
      </div>
    </div>
  </div>

  <div id="tutor-experience-list" class="tutor-section">
    <h2 class="tutor-title">WORK EXPERIENCE</h2>
    <div class="row">
      <div class="col-sm-6 tutor-education-work-item">
        <p class="tutor-education-work-item-dates">May 2019 - present</p>
        <h4 class="tutor-education-work-item-title">Substitute teacher of mathematics</h4>
        <p class="tutor-education-work-item-company">General High School Colbert</p>
        <p class="tutor-education-work-item-location">
          <i class="fas fa-map-marker-alt"></i>
          Paris, France
        </p>
      </div>
      <div class="col-sm-6 tutor-education-work-item">
        <p class="tutor-education-work-item-dates">July 2018 - August 2018</p>
        <h4 class="tutor-education-work-item-title">Internship in Quantitative Research</h4>
        <p class="tutor-education-work-item-company">G-Research</p>
        <p class="tutor-education-work-item-location">
          <i class="fas fa-map-marker-alt"></i>
          Paris, France
        </p>
      </div>
    </div>
  </div>

  <div id="tutor-reviews-list" class="tutor-section">
    <h2 class="tutor-title">REVIEWS</h2>
    <p><%= "No reviews yet" if @tutor.reviews.count.zero? %></p>
    <div class="row">
      <% @tutor.reviews.each do |review|%>
        <div class="col-sm-6 tutor-review">
          <p class="tutor-review-rating" data-score="<%= review.rating %>"></p>
          <p class="tutor-review-comment"><%= review.comment %></p>
          <div class="tutor-review-author-date">
            <p>
              <span class="tutor-review-logo"><%= review.booking.student.first_name[0] %><%= review.booking.student.last_name[0] %></span>
              <%= review.booking.student.first_name %>
            </p>
            <p class="tutor-review-date"><%= review.created_at.strftime("%d %B %Y") %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<script>
  jQuery(function() {
    $('.tutor-review-rating').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    })
  });
</script>
