<h1>Your Bookings</h1>

<div id="bookings" class="mt-5">
  <% @bookings.sort_by{|booking| booking.start_date}.reverse.each_with_index do |booking, index| %>
    <div class="row align-items-center">
      <div class="col-1">
        <p class="my-1"><%= index + 1 %></p>
      </div>
      <div class="col">
        <% if current_tutor %>
          <p class="my-1"><%= booking.student.first_name %> <%= booking.student.last_name %></p>
        <% elsif current_student %>
          <p class="my-1"><%= booking.tutor.first_name %> <%= booking.tutor.last_name.first %>.</p>
        <% end %>
      </div>
      <div class="col-2">
        <% if booking.accepted_at && booking.paid_at && booking.canceled_at.nil? && booking.start_date < Time.now %>
          <p class='text-primary my-1'>View resources</p>
        <% elsif booking.paid_at && booking.start_date > Time.now %>
          <p class='text-success my-1'>Go to lesson</p>
        <% elsif booking.canceled_at %>
          <p class='text-secondary my-1'>Lesson canceled</p>
        <% elsif booking.accepted_at %>
          <p class='text-warning my-1'><%= 'Proceed to payment' if current_student %></p>
          <p class='text-warning my-1'><%= 'Waiting for payment' if current_tutor %></p>
        <% else %>
          <p class='text-danger my-1'><%= 'Waiting for reply' if current_student %></p>
          <p class='text-danger my-1'><%= 'Reply to request' if current_tutor %></p>
        <% end %>
      </div>
      <div class="col-2">
        <p class="my-1"><%= booking.subject.name %></p>
      </div>
      <div class="col-4">
        <p class="my-1"><%= booking.start_date.strftime("%A, %d %B %Y") %> at <%= booking.start_date.strftime("%Hh%M") %></p>
      </div>
      <div class="col-1">
        <%= link_to 'More', booking_path(booking), class: 'btn btn-outline-primary' %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
