<h1>Your Bookings</h1>

<div id="bookings" class="mt-5">
  <% @bookings.sort_by{|booking| booking.date}.reverse.each_with_index do |booking, index| %>
    <div class="row">
      <div class="col-1">
        <p><%= index + 1 %></p>
      </div>
      <div class="col-2">
        <% if current_tutor %>
          <p><%= booking.student.first_name %> <%= booking.student.last_name %></p>
        <% elsif current_student %>
          <p><%= booking.tutor.first_name %> <%= booking.tutor.last_name.first %>.</p>
        <% end %>
      </div>
      <div class="col-2">
        <p><%= booking.subject.name %></p>
      </div>
      <div class="col-4">
        <p><%= booking.date.strftime("%A, %d %B %Y") %> at <%= booking.date.strftime("%Hh%M") %></p>
      </div>
      <div class="col-3">
        <% if booking.accepted_at && booking.paid_at && booking.canceled_at.nil? && booking.date < Time.now %>
          <%= link_to 'View resources', booking_path(booking), class: 'btn btn-primary mb-2 w-75'  %>
        <% elsif booking.paid_at && booking.date > Time.now %>
          <%= link_to 'Go to lesson', booking_path(booking), class: 'btn btn-success mb-2 w-75' %>
        <% elsif booking.canceled_at %>
          <%= link_to 'Lesson canceled', booking_path(booking), class: 'btn btn-secondary mb-2 w-75' %>
        <% elsif booking.accepted_at %>
          <%= link_to 'Proceed to payment', booking_path(booking), class: 'btn btn-warning mb-2 w-75' if current_student %>
          <%= link_to 'Waiting for payment', booking_path(booking), class: 'btn btn-warning mb-2 w-75' if current_tutor %>
        <% else %>
          <%= link_to 'Waiting for reply', booking_path(booking), class: 'btn btn-danger mb-2 w-75' if current_student %>
          <%= link_to 'Reply to request', booking_path(booking), class: 'btn btn-danger mb-2 w-75' if current_tutor %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
