<h1><%= @booking.subject.name %></h1>
<p><%= @booking.tutor.first_name %> <%= @booking.tutor.last_name %>, <%= @booking.language.name %> | <%= link_to 'Send a message', '#' %></p>


<p><%= @booking.date.strftime("%A, %d %B %Y") %> at <%= @booking.date.strftime("%Hh%M") %> (<%= @booking.duration / 60 %> hour) | <%= link_to 'Modify', '#' %></p>
<p>Total Price: <%= @booking.booking_price %> <%= @booking.tutor.currency %></p>

<% if !@booking.paid_at.nil? && @booking.date < Time.now %>
  <%= link_to 'View resources', '#', class: 'btn btn-primary'  %>
<% elsif !@booking.paid_at.nil? && @booking.date > Time.now %>
  <%= link_to 'Go to lesson', '#', class: 'btn btn-success' %>
<% elsif !@booking.canceled_at.nil? %>
  <%= link_to 'Lesson canceled', '#', class: 'btn btn-secondary' %>
<% elsif !@booking.accepted_at.nil? %>
  <%= link_to 'Proceed to payment', '#', class: 'btn btn-warning'  %>
<% else %>
  <%= link_to 'Waiting for reply', '#', class: 'btn btn-danger'  %>
<% end %>
