<h1>
  <%= @booking.subject.name %> (<%= @booking.language.name %>)
  <%= link_to '[edit]', edit_booking_path(@booking) unless @booking.canceled_at || @booking.start_date < DateTime.now %>
</h1>

<p>
  <% if current_student %>
    <%= @booking.tutor.first_name %>
    <%= @booking.tutor.last_name.first %>.
  <% elsif current_tutor %>
    <%= @booking.student.first_name %>
    <%= @booking.student.last_name.first %>.
  <% end %>
  [<%= link_to 'send a message', '#' %>]
</p>
<hr>

<h4><%= @booking.start_date.strftime("%A, %d %B %Y") %></h4>
<h5><%= @booking.start_date.strftime("%H:%M") %> - <%= @booking.end_date.strftime("%H:%M") %></h5>
<hr>

<p><%= "Accepted: " + @booking.accepted_at.strftime("%A, %d %B %Y") if @booking.accepted_at %></p>
  <p><%= "Paid: " + @booking.paid_at.strftime("%A, %d %B %Y") if @booking.paid_at %></p>
  <p><%= "Canceled: " + @booking.canceled_at.strftime("%A, %d %B %Y") if @booking.canceled_at %></p>
<p><strong>Total Price: <%= @booking.booking_price %> <%= Currency.find(@booking.tutor.currency_id).name %></strong></p>

<% if @booking.accepted_at && @booking.paid_at && @booking.canceled_at.nil? && @booking.start_date < Time.now %>
  <%= link_to 'View resources', '#', class: 'btn btn-primary mb-2'  %>
<% elsif @booking.paid_at && @booking.start_date > Time.now %>
  <%= link_to 'Go to lesson', '#', class: 'btn btn-success mb-2' %>
<% elsif @booking.canceled_at %>
  <%= link_to 'Lesson canceled', '#', class: 'btn btn-secondary mb-2' %>
<% elsif @booking.accepted_at %>
  <%= link_to 'Proceed to payment', '#', class: 'btn btn-warning mb-2' if current_student %>
  <%= link_to 'Waiting for payment', '#', class: 'btn btn-warning mb-2' if current_tutor %>
<% else %>
  <%= link_to 'Waiting for reply', '#', class: 'btn btn-danger mb-2' if current_student %>
  <%= link_to 'Reply to request', '#', class: 'btn btn-danger mb-2' if current_tutor %>
<% end %>

<br>
<%= link_to "< back to bookings", bookings_path %>
