<div id="booking-show" class="container">
  <div id="booking-steps">
    <p class="<%= "step-done" if @booking.accepted_at %>"><span class="booking-step-number">1</span> Confirmed</p>
    <p class="<%= "step-done" if @booking.paid_at %>"><span class="booking-step-number">2</span> Paid</p>
    <p class=" <%= "step-done" if @booking.status[:class] == 'completed' %>"><span class="booking-step-number">3</span> Completed</p>
    <p><%= link_to "Cancel lesson", "#", class: "btn-cancel" unless @booking.canceled_at %></p>
  </div>
  <div id="booking-informations" class="row">
    <div id="booking-user" class="col-3">
      <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2MTQ1N30" alt="tutor photo">
      <div class="booking-user-info">
        <%= link_to @booking.tutor.first_name + " " + @booking.tutor.last_name, tutor_path(@booking.tutor) if current_student %>
        <span><%= @booking.student.first_name + " " + @booking.student.last_name if current_tutor %></span>
        <%= link_to chat_path(@chat) do %>
          <i class="fas fa-comments"></i>
        <% end %>
      </div>
    </div>
    <div id="booking-details" class="col-6">
      <div class="subject-status">
        <h1><%= @booking.subject.name %></h1>
        <p class="booking-status <%= @booking.status[:class] %>"><%= @booking.status[:message] %></p>
      </div>
      <p><i class="fas fa-comment"></i> <%= @booking.language.name %></p>
      <p><i class="fas fa-calendar-day"></i> <%= @booking.date.strftime("%A %d %B %Y") %></p>
      <p><i class="fas fa-clock"></i> <%= @booking.start_time.strftime("%H:%M") %> - <%= @booking.end_time.strftime("%H:%M") %></p>
    </div>
    <div id="booking-payment" class="col-3">
      <h4>Payment Summary</h4>
      <div class="booking-price">
        <span>Price per hour</span>
        <span><%= @booking.tutor.price %> <%= @booking.tutor.currency.name %></span>
      </div>
      <hr>
      <div class="booking-price">
        <span>Total</span>
        <span><%= @booking.booking_price %> <%= @booking.tutor.currency.name %></span>
      </div>
      <%= link_to @booking_action, "#{@booking.status[:action]}", method: "#{@booking.status[:class] == 'today' ? 'POST' : 'GET'}", class: "btn btn-#{@booking.status[:class]}" if @booking_action %>
    </div>
  </div>
</div>
