<div class="container" style="margin: 3rem auto; background-color: white; border-radius: 3px; box-shadow: 1px 2px 3px #cecece; padding: 2rem 3rem;">
  <div style="display: flex; justify-content: space-between; color: #757575; padding: .5rem 1rem;">
    <p class="<%= "step-done" if @booking.accepted_at %>"><span style="border: 1px solid #757575; padding: .3rem .7rem; border-radius: 50%;">1</span> Confirmed</p>
    <p class="<%= "step-done" if @booking.paid_at %>"><span style="border: 1px solid #757575; padding: .3rem .6rem; border-radius: 50%;">2</span> Paid</p>
    <p class=" <%= "step-done" if @booking.status[:class] == 'completed' %>"><span style="border: 1px solid #757575; padding: .3rem .6rem; border-radius: 50%;">3</span> Completed</p>
    <p><%= link_to "cancel", "#", class: "btn-cancel" unless @booking.canceled_at %></p>
  </div>
  <div class="row" style="margin: 1.5rem 0;">
    <div class="col-3" style="display: flex; flex-direction: column; align-items: center;">
      <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2MTQ1N30" alt="tutor photo" style="width: 100%; border-radius: 3px; margin-bottom: .5rem;">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <%= link_to tutor_path(@user) do %>
          <span><%= @user.first_name %> <%= @user.last_name %></span>
        <% end %>
        <%= link_to chat_path(@chat) do %>
          <i class="fas fa-comments"></i>
        <% end %>
      </div>
    </div>
    <div class="col-6" style="display: flex;">
      <div style="padding: 0 2rem;width: 100%;">
        <div style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: .5rem;">
          <h1 style="font-weight: bold;"><%= @booking.subject.name %></h1>
          <p style="font-size: .8rem; padding: .2rem .4rem; font-weight: normal; margin: 0 0 .3rem .5rem;" class="booking-status <%= @booking.status[:class] %>"><%= @booking.status[:message] %></p>
        </div>
        <p><i class="fas fa-comment"></i> <%= @booking.language.name %></p>
        <p><i class="fas fa-calendar-day"></i> <%= @booking.date.strftime("%A %d %B %Y") %></p>
        <p><i class="fas fa-clock"></i> <%= @booking.start_time.strftime("%H:%M") %> - <%= @booking.end_time.strftime("%H:%M") %></p>
      </div>
    </div>
    <div class="col-3">
      <div>
        <h4 style="margin-bottom: 1.5rem;">Payment Summary</h4>
        <div style="display:flex; justify-content: space-between;">
          <span>Price per hour</span>
          <span><%= @booking.tutor.price %> <%= @booking.tutor.currency.name %></span>
        </div>
        <hr>
        <div style="display:flex; justify-content: space-between; margin-bottom: .5rem;">
          <span>Total</span>
          <span><%= @booking.booking_price %> <%= @booking.tutor.currency.name %></span>
        </div>
        <%= link_to @booking_action, "#", class: "btn btn-#{@booking.status[:class]}", style: "display: block;" if @booking_action %>
      </div>
    </div>
  </div>
</div>
