<h1>
  <%= @booking.subject.name %> (<%= @booking.language.name %>)
  <%= link_to '[edit]', edit_booking_path(@booking) unless @booking.canceled_at || @booking.start_date < DateTime.now %>
  <% if @booking.canceled_at %>
    <span class='text-secondary mb-2' style='font-size: 1.6rem'>Lesson canceled</span>
  <% elsif @booking.accepted_at && @booking.paid_at.nil? %>
    <span class='text-warning mb-2' style='font-size: 1.5rem'><%= 'Waiting for payment' if current_tutor %></span>
  <% elsif @booking.accepted_at.nil? %>
    <span class='text-danger mb-2' style='font-size: 1.5rem'><%= 'Waiting for reply' if current_student %></span>
  <% end %>
</h1>

<p>
  <% if current_student %>
    <%= link_to tutor_path(@booking.tutor) do %>
      <%= @booking.tutor.first_name %>
      <%= @booking.tutor.last_name.first %>.
    <% end %>
  <% elsif current_tutor %>
    <%= @booking.student.first_name %>
    <%= @booking.student.last_name.first %>.
  <% end %>
  [<%= link_to 'send a message', chat_path(@chat) %>]
</p>
<hr>

<h4><%= @booking.start_date.strftime("%A, %d %B %Y") %></h4>
<h5><%= @booking.start_date.strftime("%H:%M") %> - <%= @booking.end_date.strftime("%H:%M") %></h5>
<hr>

<p><%= "Accepted: " + @booking.accepted_at.strftime("%A, %d %B %Y") if @booking.accepted_at %></p>
  <p><%= "Paid: " + @booking.paid_at.strftime("%A, %d %B %Y") if @booking.paid_at %></p>
  <p><%= "Canceled: " + @booking.canceled_at.strftime("%A, %d %B %Y") if @booking.canceled_at %></p>
<p><strong>Total Price: <%= @booking.booking_price %> <%= Currency.find(@booking.tutor.currency_id).name %></strong></p>

<% if @booking.accepted_at && @booking.paid_at && @booking.canceled_at.nil? && @booking.start_date < Time.now %>
  <%= link_to 'View resources', '#', class: 'btn btn-primary mb-2'  %>
  <% unless @booking.reviews.exists? %>
  <%= link_to 'Add review', new_booking_review_path(@booking), class: 'btn btn-primary mb-2' if current_student %>
  <% end %>
<% elsif @booking.paid_at && @booking.start_date > Time.now && @booking.canceled_at.nil? %>
  <div style="display: inline-flex;">
    <% if @booking.lesson %>
      <%= link_to 'Go to lesson', booking_lesson_path(@booking, @lesson), class: "btn btn-success mt-3" %>
    <% else %>
      <%= link_to 'Go to lesson', booking_lessons_path(@booking), method: :post, class: "btn btn-success mt-3" %>
    <% end %>

    <%= simple_form_for [@booking], method: :patch do |f| %>
      <%= f.input :canceled_at, as: :hidden, input_html: { value: DateTime.now } %>
      <%= f.submit 'Cancel lesson', class: "btn btn-outline-secondary ml-3" %>
    <% end %>
  </div>

<% elsif @booking.accepted_at && @booking.canceled_at.nil? %>
  <% if current_tutor %>
      <%= simple_form_for [@booking], method: :patch do |f| %>
        <%= f.input :canceled_at, as: :hidden, input_html: { value: DateTime.now } %>
        <%= f.submit 'Cancel lesson', class: "btn btn-outline-secondary mb-2" %>
      <% end %>
  <% elsif current_student %>
    <div style="display: inline-flex">
      <%= simple_form_for [@booking], method: :patch do |f| %>
        <%= f.input :go_payment, as: :hidden, input_html: { value: true } %>
        <%= f.submit 'Proceed to payment', class: "btn btn-outline-warning mb-2" %>
      <% end %>
      <%= simple_form_for [@booking], method: :patch do |f| %>
        <%= f.input :canceled_at, as: :hidden, input_html: { value: DateTime.now } %>
        <%= f.submit 'Cancel lesson', class: "btn btn-outline-secondary ml-3" %>
      <% end %>
    </div>
  <% end %>

<% elsif @booking.accepted_at.nil? && @booking.canceled_at.nil? %>
  <% if current_tutor %>
    <div style="display: inline-flex">
      <%= simple_form_for [@booking], method: :patch do |f| %>
        <%= f.input :accepted_at, as: :hidden, input_html: { value: DateTime.now } %>
        <%= f.submit 'Accept request', class: "btn btn-danger mb-2" %>
      <% end %>
      <%= simple_form_for [@booking], method: :patch do |f| %>
        <%= f.input :canceled_at, as: :hidden, input_html: { value: DateTime.now } %>
        <%= f.submit 'Cancel lesson', class: "btn btn-outline-secondary ml-3 mb-2" %>
      <% end %>
    </div>
  <% elsif current_student %>
    <%= simple_form_for [@booking], method: :patch do |f| %>
      <%= f.input :canceled_at, as: :hidden, input_html: { value: DateTime.now } %>
      <%= f.submit 'Cancel lesson', class: "btn btn-outline-secondary mb-2" %>
    <% end %>
  <% end %>

<% elsif @booking.canceled_at && @booking.paid_at.nil? %>
  <%= link_to 'Book new lesson', tutors_path, class: 'btn btn-primary mb-2' %>
  <%= link_to 'Find another tutor', new_booking_path, class: 'text-primary ml-3 mb-2' %>

<% elsif @booking.canceled_at && @booking.paid_at %>
  <%= link_to 'Book new lesson', tutors_path, class: 'btn btn-primary mb-2' %>
  <%= link_to 'Find another tutor', new_booking_path, class: 'text-primary ml-3 mb-2 mr-3' %>
  <% if current_tutor %>
    <%= link_to 'Refund lesson', '#', class: 'btn btn-primary mb-2' %>
  <% elsif current_student %>
    <%= link_to 'Ask refund', '#', class: 'btn btn-primary mb-2' %>
  <% end %>

<% else %>
  <%= simple_form_for [@booking], method: :patch do |f| %>
    <%= f.input :canceled_at, as: :hidden, input_html: { value: DateTime.now } %>
    <%= f.submit 'Cancel lesson', class: "btn btn-outline-secondary ml-3 mb-2" %>
  <% end %>
<% end %>
