<h1>
  <%= @chat.student.first_name %> & <%= @chat.tutor.first_name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chat' %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>" style="border: 1px solid #f8f8f8; background: #f8f8f8; height: 50vh; border-radius: 3px 3px 0 0; overflow-y: auto;">
      <% @messages.each do |message| %>

        <div class="chat-message-container" style="padding: 5px; margin-top: 10px;">

          <div class="row no-gutters">

              <% if student_signed_in? && @chat.student.first_name == message.username || tutor_signed_in? && @chat.tutor.first_name == message.username %>

                <div class="col">
                  <div id="<%= message.username %>" class="message-content text-right" style= "margin-top: 10px; padding: 5px; border: 1px solid #83c0d4; border-radius: 5px; background: #add8e6; color: #103744;">
                    <p class="mb-1">
                      <%= message.content %>
                    </p>
                    <div class="text-right" style="color: #014c65">
                      <small>
                        <%= message.created_at %>
                      </small>
                    </div>
                  </div>
                </div>

                <div class="col-auto text-center">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", style: "margin: 5px; margin-top: 10px;" %>
                </div>

              <% else %>

                <div class="col-auto text-center">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", style: "margin: 5px; margin-top: 10px;" %>
                </div>

                <div class="col">
                  <div id="<%= message.username %>" class="message-content" style= "margin-top: 10px; padding: 5px; border: 1px solid #83c0d4; border-radius: 5px; background: #add8e6; color: #103744;">
                    <p class="mb-1">
                      <%= message.content %>
                    </p>
                    <div class="text-right" style="color: #014c65">
                      <small>
                        <%= message.created_at %>
                      </small>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>

        </div>

      <% end %>
    </div>

    <%= simple_form_for @message, remote: true do |f| %>
      <div class="input-group mb-3">
        <%= f.input :content, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input',
                                   style: "border: none; border-radius: 0 0 3px 3px;"
                                 } %>
        <div class="input-group-append">
          <%= f.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= f.input :username, as: :hidden %>
      <%= f.input :chat_id, as: :hidden %>
    <% end %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container" style="padding: 5px; margin-top: 10px;">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" style= "margin: 5px; margin-top: 10px;" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content" style= "margin-top: 10px; padding: 5px; border: 1px solid #83c0d4; border-radius: 5px; background: #add8e6; color: #103744;">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right" style="color: #014c65">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
