<div class="row mt-1">
  <div class="col-3">
    <% @chats.each do |chat| %>
      <%= link_to chat_path(chat), id: "chat-users-menu" do %>
        <div class="chat-user-card <%= (student_signed_in? && @chat.tutor == chat.tutor) || (tutor_signed_in? && @chat.student == chat.student) ? "current-user" : "" %>">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "chat-user-card-avatar" %>
          <p class="chat-user-card-name"><%= student_signed_in? ? chat.tutor.first_name : chat.student.first_name %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-9">
    <div id="chat-user-banner">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "chat-user-banner-avatar" %>
      <div class="chat-user-banner-infos">
        <h5 class="chat-user-banner-name"><%= student_signed_in? ? @chat.tutor.first_name : @chat.student.first_name %></h5>
        <p class="chat-user-banner-status">Online</p>
      </div>
    </div>
    <div class="chat" data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>">
      <% @messages.each do |message| %>
        <div class="chat-message <%= message.author == (current_student || current_tutor) ? 'left' : '' %>">
          <div class="chat-message-content <%= message.author == (current_student || current_tutor) ? 'reverse' : '' %>">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "chat-message-content-avatar" %>
            <p class="chat-message-content-text <%= message.author == (current_student || current_tutor) ? 'bg-style' : '' %>">
              <%= message.content %>
            </p>
          </div>
          <div>
            <p class="chat-message-date <%= message.author == (current_student || current_tutor) ? 'indent' : '' %>">
            <%= message.updated_at.in_time_zone("CET").strftime("%H:%M") %>
          </p>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @message, remote: true, style: "" do |f| %>
      <div style="chat-new-message-content">
        <%= f.input :content, as: :string,
                                 wrapper: false,
                                 label: false, placeholder: "Write your message...",
                                 input_html: {
                                   id: 'chat-new-message-input'
                                 } %>
        <%= f.input :is_student, as: :hidden %>
        <%= f.input :chat_id, as: :hidden  %>
      </div>
      <%= f.submit "Send", id: 'chat-new-message-button' %>
    <% end %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message <%= @message.author == (current_student || current_tutor) ? 'left' : '' %>"" >
    <div class="chat-message-content <%= @message.author == (current_student || current_tutor) ? 'reverse' : '' %>">
      <img src="" class="chat-message-content-avatar" alt="" data-role="user-avatar">
      <p class="chat-message-content-text <%= @message.author == (current_student || current_tutor) ? 'bg-style' : '' %>" data-role="message-text"></p>
    </div>
    <div>
      <p class="chat-message-date <%= @message.author == (current_student || current_tutor) ? 'indent' : '' %>" data-role="message-date"></p>
    </div>
  </div>
</div>
