<div class="row mt-1">
  <div id="chat-users" class="col-3">
    <h3><strong>Tutors</strong></h3>
    <% @chats.each do |chat| %>
      <%= render 'users', chat: chat %>
    <% end %>
  </div>

  <div class="col-9">
    <div id="chat-user-banner">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "chat-user-banner-avatar" %>
      <div class="chat-user-banner-infos">
        <h5 class="chat-user-banner-name"><%= student_signed_in? ? @chat.tutor.first_name : @chat.student.first_name %></h5>
        <p class="chat-user-banner-status">Online</p>
      </div>
    </div>

    <div class="chat" data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>">
      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>

    <%= render partial: 'form' %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message <%#= @message.author == (current_student || current_tutor) ? 'right' : '' %>">
    <div class="chat-message-content <%#= @message.author == (current_student || current_tutor) ? 'reverse' : '' %>">
      <img src="" class="chat-message-content-avatar" alt="" data-role="user-avatar">
      <p class="chat-message-content-text <%#= @message.author == (current_student || current_tutor) ? 'bg-style' : '' %>" data-role="message-text"></p>
    </div>
    <div>
      <p class="chat-message-date <%#= @message.author == (current_student || current_tutor) ? 'indent' : '' %>" data-role="message-date"></p>
    </div>
  </div>
</div>
