<h2>Student's requests</h2>

<%= simple_form_for [@job_post] do |f| %>
  <%= f.input :title,  placeholder: "Ex: I'm looking for a math teacher..." %>
  <%= f.input :description, placeholder: "Ex: I need to learn first degree equation..." %>
  <%= label_tag 'Languages' %><br>
  <%= select_tag('job_post[language_id]', options_for_select(Language.pluck(:name, :id)), class: "selectpicker", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}) %><br>
  <%= label_tag 'Subjects' %><br>
  <%= select_tag('job_post[subject_id]', options_for_select(Subject.pluck(:name, :id)), class: "selectpicker", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}) %><br>
  <%= label_tag 'Currency' %><br>
  <%= select_tag('job_post[currency_id]', options_for_select(Currency.pluck(:name, :id)), class: "selectpicker", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}) %><br>
  <%= f.input :price, placeholder: "Max. price you want to invest per lesson" %>
  <%= f.button :submit, 'Submit', class: "btn btn-primary"%>
<% end %>
