<div id="job-posts-list">
  <div id="job-posts-title">
    <h1>Job Posts</h1><br>
    <% if current_student %>
        <%= link_to "Post a new request", new_job_post_path %>
    <% end %>
  </div>

  <div id="job-posts-search">
    <%= form_tag job_posts_path, method: :get do %>
      <%= select_tag(:subject_id, options_for_select(Subject.pluck(:name, :id), selected: params[:subject_id]), class: "selectpicker", data: {"live-search" => true, style: "select-grey"}, include_blank: 'Subject') %>
      <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id), selected: params[:language_id]), class: "selectpicker", data: {"live-search" => true, style: "select-grey"}, include_blank: 'Language') %>
      <%= select_tag(:currency_id, options_for_select(Currency.pluck(:name, :id), selected: params[:currency_id]),  class: "selectpicker", data: {"live-search" => true, style: "select-grey"}, include_blank: 'Currency') %>
        <%= submit_tag "Search", class: "btn btn-search" %>
    <% end %>
  </div>

  <div id="job-posts-number">
    <h3>Showing <%= pluralize(@job_posts_nb, 'result') %></h3>
    <%= link_to "Clear results", job_posts_path %>
  </div>

  <div id="job-posts-results">
    <% @job_posts.each do |job_post| %>
      <%= link_to job_post_path(job_post) do %>
        <div class="job-post-card">
          <div>
            <p><%= job_post.student.first_name %> <%= job_post.student.last_name[0] %>.</p>
            <h4 class="lesson-color <%= job_post.subject.name.downcase %>">
              <%= job_post.subject.name %> lessons
            </h4>
            <p><%= job_post.language.name %></p>
          </div>
          <div class="job-post-card-footer">
            <p><%= pluralize(job_post.comments.count, 'Reply') %></p>
            <p><%=distance_of_time_in_words(Time.now, job_post.created_at) %> ago</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
