<h1>Job Posts</h1><br>
<p><%= pluralize(@job_posts_nb, 'result') %></p>

<div class="row">
  <div class="col-4">
    <div style="position: sticky; top: 30px;">
      <%= form_tag job_posts_path, method: :get do %>
        <p>Language</p>
        <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id)), class: "selectpicker w-75", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}, include_blank: 'All') %>
        <p>Subject</p>
        <%= select_tag(:subject_id, options_for_select(Subject.pluck(:name, :id)),  class: "selectpicker w-75", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}, include_blank: 'All') %>
        <p>Currency</p>
        <%= select_tag(:currency, options_for_select([:EUR, :CHF, :USD, :CAD, :JPY, :SEK, :DKK, :GBP]),  class: "selectpicker w-75", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}, include_blank: 'All') %>
        <div class="mt-3">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<div class="col">
  <%= link_to "New Request", new_job_post_path, class: "btn btn-primary" %> <br>
  <br>
  <%= "See the latest student's requests" %>
  <p>
    <% @job_posts.each do |job_post| %>
      <h4><p><%= "Title: " + job_post.title %></h4></p>
      <%= "Subject:" %> <%= Subject.find(job_post.subject_id).name %><br>
      <%= "Language:" %> <%= Language.find(job_post.language_id).name %><br>
      <%= "Currency:" %> <%= job_post.currency %><br>
      <%= "Amount:" %> <%= job_post.amount %><br>
      <%= "Posted " + distance_of_time_in_words(Time.now, job_post.created_at) + " ago by " + "#{Student.find(job_post.student_id).first_name}" + " " +"#{Student.find(job_post.student_id).last_name[0]}" + "."%> <br>
      <%= "-----------------------------------------------------" %> <br>
      <%= link_to "See Request", job_post_path(job_post), class: "btn btn-primary"%> <br>
      <%= "-----------------------------------------------------" %>
    <% end %>
  </p>
</div>


