<h4><p><%= "Title: " + @job_post.title %></h4></p>
  <%= "Subject:" %> <%= Subject.find(@job_post.subject_id).name %><br>
  <%= "Language:" %> <%= Language.find(@job_post.language_id).name %><br>
  <%= "Currency:" %> <%= Currency.find(@job_post.currency_id).name %><br>
  <%= "Amount:" %> <%= @job_post.amount %><br>
  <%= "Description: " + @job_post.description %> <br>
  <%= "Date:  #{@job_post.created_at}" %> <br>
  <%= "-----------------------------------------------------" %> <br>
  <% if current_tutor %>
  <%= link_to "Reply", job_post_path(job_post), class: "btn btn-primary"%> <br>
  <% elsif current_student %>
  <%= link_to "Edit", edit_job_post_path, class: "btn btn-primary"%> <br>
  <% else %>
  <%= link_to "Reply", new_tutor_registration_path, class: "btn btn-primary"%> <br>
  <% end %>
  <%= "-----------------------------------------------------" %>

