  <h4><p><%=  @job_post.title %></h4></p>
  <p>Subject: <%= Subject.find(@job_post.subject_id).name %></p>
  <p>Language: <%= Language.find(@job_post.language_id).name %></p>
  <p>Currency: <%= Currency.find(@job_post.currency_id).name %></p>
  <p>Price: <%= @job_post.price %></p>
  <hr>
  <%= @job_post.description %><br>
  <br>
  <%= "Posted " + distance_of_time_in_words(Time.now, @job_post.created_at) + " ago by " + "#{Student.find(@job_post.student_id).first_name}" + " " +"#{Student.find(@job_post.student_id).last_name[0]}" + "."%><br>
  <hr>
  <%= pluralize(@job_post.comments.count, 'Reply') %><br>
  <% if current_student && current_student.id == @job_post.student_id %>
    <br>
    <%= link_to "Edit", edit_job_post_path, class: "btn btn-primary"%>
    <%= link_to "Delete", job_post_path, method: :delete, class: "btn btn-primary"%>
    <%= link_to "See all requests", job_posts_path, class: "btn btn-primary"%><br>
  <% end %>
  <hr>
  <%= render @job_post.comments %>
  <% if current_tutor  %>
    <%= render "comments/form" %>
  <% elsif current_student && current_student.id == @job_post.student_id %>
    <p>Your post is now online and shared with tutors corresponding to your criteria</p>
  <% else %>
    <a href="<%= new_tutor_registration_path %>">Only Tutors may reply to thread</a>
    <hr>
  <% end %>

